{% extends "base.html" %}
{% block content %}
<h1>ユーザ一覧</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>氏名</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.lastname }} {{ user.firstname }}</td>
            <td>
                {% set follower_list = user.followers.all() if user.followers.all is defined else user.followers %}
                {% if current_user in follower_list %}
                    <a href="/unfollow/{{ user.id }}">フォロー解除</a>
                {% else %}
                    <a href="/follow/{{ user.id }}">フォローする</a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">表示する情報がありません</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<h2>フォロー中のユーザ</h2>
<ul class="list-group">
    {% for user in followees %}
        <li class="list-group-item">
            {{ user.lastname }} {{ user.firstname }}（ID: {{ user.id }}）
        </li>
    {% else %}
        <li class="list-group-item">フォローしているユーザはいません</li>
    {% endfor %}
</ul>

<h2 class="mt-4">あなたをフォローしているユーザ</h2>
<ul class="list-group">
    {% for user in followers %}
        <li class="list-group-item">
            {{ user.lastname }} {{ user.firstname }}（ID: {{ user.id }}）
        </li>
    {% else %}
        <li class="list-group-item">フォロワーはいません</li>
    {% endfor %}
</ul>
{% endblock %}
